.Home {
  font-family: "Inconsolata", monospace;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 300px;
}

.Home p {
  font-size: 17px;
}

.Home button {
  font-family: "Inconsolata", monospace;
  padding: 6px 25px;
  cursor: pointer;
  border: 1px solid;
  border-radius: 7px;
}
