/* .more_information_container { */
/* background-color: rgb(238, 237, 237);
  padding-left: 450px; */
/* padding-right: 150px; */
/* padding-top: 30px; */
/* height: 490px;
  border-radius: 20px;
  width: 0; */
/* } */

/* .more_information {
  font-family: "Inconsolata", monospace;
  position: absolute;
  text-align: center;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 700px;
  height: 200px;
} */

.more_information_container {
  background-color: rgb(238, 237, 237);
  height: 470px;
  border-radius: 15px;
  padding-top: 30px;
}

.user_information {
  position: relative;
  border: 1px solid black;
  margin-left: 32vw;
  margin-right: 150px;
  height: 44.5vh;
  padding-left: 15px;
}
