.User button {
  cursor: pointer;
}

.background_information {
  height: 350px;
  border-radius: 15px;
  overflow: hidden;
}

.background_image img {
  min-width: 100%;
  /* object-fit: contain; */
}

.profile_card {
  position: absolute;
  top: 128px;
  margin: auto;
  left: 150px;
  min-height: 570px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 250px;
  background-color: white;
}

.image_card {
  height: 250px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.image_card img {
  min-height: 100%;
  object-fit: contain;
}

.user_bio h4 {
  padding-left: 10px;
  font-size: 20px;
  font-family: "Inconsolata", monospace;
  margin-bottom: 0;
}

.user_bio p {
  padding-left: 15px;
  padding-right: 15px;
  text-align: justify;
}

.navigation {
  padding-left: 10px;
}

.nav_link {
  text-decoration: none;
  color: rgb(143, 141, 141);
  margin-right: 5px;
  transition: 0.5s;
}

.nav_link:hover {
  color: black;
}

.navigation Link {
  text-decoration: none;
}

.pagination {
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.pagination .pages {
  display: flex;
  list-style-type: none;
  padding: 0;
}

.page_item {
  text-align: center;
}

.loading {
  text-align: center;
}

.error_message {
  position: absolute;
  margin-left: 130px;
  padding-top: 50px;
}

.error_message h1 {
  font-size: 12px;
}
